#searchform {

}

body{
    text-align: center;
    margin-top: 200px;
    font-family: sans-serif !important;
    font-size: 12px;
}

#logo{
    width: 270px;
    height: 90px;
}

#search-bar{
    width: 560px;
    height: 34px;
}

.top-bar a {
    position: absolute;
    top: 25px;
   }

#about {
    right:1540px; 
    text-decoration: none;
    
}

#store {
    right:1490px; 
    text-decoration: none;
    color: black;
    
}

#gmail {
    left: 1330px;
    color: black;
    text-decoration: none;

}

#images {
    left: 1380px;
    color: black;
    text-decoration: none;
}

a:visited {
    color:black;
}
a:hover {
    color: black;
    text-decoration: underline !important; 
}
a:active{
    color: black;
}

.google-search {
    height: 36px;
    
}

input:hover {
    text-emphasis: bold;
}