body{
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif !important;
    font-size: 12px;
}

#logo{
    width: 500px;
    height: 200px;
}

#search-bar{
    width: 584px;
    height: 44px;
    margin-top: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px #8888;
}

.top-bar a {
    position: absolute;
    top: 25px;
    text-align: inline;
}

#about {
    right:1540px; 
    text-decoration: none;
    color: black;
    opacity: 0.75;
    
}

#store {
    right:1490px; 
    text-decoration: none;
    color: black;
    opacity: 0.75;
    
}

#gmail {
    left: 1330px;
    color: black;
    text-decoration: none;
    opacity: 0.75;

}

#images {
    left: 1380px;
    color: black;
    text-decoration: none;
    opacity: 0.75;
}

#sign-in {
    background-color: blue;
    color: white;
    text-decoration: none;
    text;
    left: 1475px;
    width: 75px;
    height: 25px;
    padding-top: 5px;
    top: 19px;
    opacity: 0.55;
}

#apps {
    background-image: url('https://dylanhamada.github.io/google-homepage/sprite.png');
    width: 30px;
    height: 30px;
    right: 135px;
    background-position: 400px -35px;
    background-size: 528px 68px;
    opacity: 1.0;
}

a:visited {
    color:black;
}
a:hover {
    color: black;
    text-decoration: underline !important; 
}
a:active{
    color: black;
}

.google-search {
    height: 36px;
    margin-top: 35px;
    font-weight: bold;
    margin-right: 4px;
    padding: 0px 16px;
    border: 1px solid #f2f2f2;
    color: #907575;
    
}

.lucky {
    height: 36px;
    margin-top: 35px;
    margin-left: 4px;
    font-weight: bold;
    padding: 0px 16px;
    border: 1px solid #f2f2f2;
    color: #907575;
    
}

input:hover {
    color: black;
    background-color: #f2f2f2;
    border: 1px solid gray;
}